body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

nav {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

nav .dropdown {
  margin-top: 0px;
  position: relative;
  display: inline-block;
  border: 1px solid rgb(83, 204, 231);
}

nav .dropdown button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
}
nav .dropdown:hover {
  background-color:#02264d;
  color: white;
}

nav .dropdown-content {
  margin-top: -1px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  border-radius: 5px;
  z-index: 1;
}

nav .dropdown-content a {
  color: #007bff;
  text-decoration: none;
  display: block;
  padding: 8px 10px;
  font-size: 14px;
}

nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 7px;
}

nav a:hover {
  background-color: #0056b3;
}
nav .logo {
  margin-top: -1px;
  margin-right: 5px;
}

h1 {
  color: #007bff;
  text-align: center;
  margin-top: 20px;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

form button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

